<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminDashboard</title>


    <link rel="icon" href="@Url.Content("~/GradientTemplate/assets/images/favicon.svg")" type="image/x-icon">
    <!-- map-vector css -->
    <link rel="stylesheet" href="@Url.Content("~/GradientTemplate/assets/css/plugins/jsvectormap.min.css")">
    <!-- [Google Font : Poppins] icon -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="@Url.Content("~/GradientTemplate/assets/fonts/tabler-icons.min.css")">
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="@Url.Content("~/GradientTemplate/assets/fonts/feather.css")">
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="@Url.Content("~/GradientTemplate/assets/fonts/fontawesome.css")">
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="@Url.Content("~/GradientTemplate/assets/fonts/material.css")">
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="@Url.Content("~/GradientTemplate/assets/css/style.css")" id="main-style-link">
    <link rel="stylesheet" href="@Url.Content("~/GradientTemplate/assets/css/style-preset.css")">
</head>

<body data-pc-header="header-1" data-pc-preset="preset-1" data-pc-sidebar-theme="light" data-pc-sidebar-caption="true"
    data-pc-direction="ltr" data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <!-- [ Sidebar Menu ] start -->
    <nav class="pc-sidebar">
        <div class="navbar-wrapper">
            @* <div class="m-header">
                <a href="../" class="b-brand text-primary">
                    <!-- ========   Change your logo from here   ============ -->
                    <img src="~/GradientTemplate/assets/images/logo-white.svg" alt="logo image" class="logo-lg">                    
                </a>
            </div> *@
            <div class="navbar-content">
                <ul class="pc-navbar">                  
                    <li class="pc-item">
                        <a href="../" class="pc-link"><span class="pc-micon">
                                <i class="ph ph-gauge"></i></span><span class="pc-mtext">Dashboard</span></a>
                    </li>


                    <li class="pc-item pc-caption">
                        <label>Sales Analysis</label>
                        <i class="ph ph-compass-tool"></i>
                    </li>
                    <li class="pc-item">
                        <a href="../Home/SalesDashboard" class="pc-link">
                            <span class="pc-micon"><i class="ph ph-text-aa"></i></span>
                            <span class="pc-mtext">Sales Dashboard</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="../Home/SalesDetail" class="pc-link">
                            <span class="pc-micon"><i class="ph ph-palette"></i></span>
                            <span class="pc-mtext">Sales Detail</span>
                        </a>
                    </li>

                    <li class="pc-item pc-caption">
                        <label>Product Analysis</label>
                        <i class="ph ph-devices"></i>
                    </li>
                    <li class="pc-item">
                        <a href="../Home/ProductDashboard" class="pc-link">
                            <span class="pc-micon"><i class="ph ph-text-aa"></i></span>
                            <span class="pc-mtext">Product Dashboard</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="../Home/ProductDetail" class="pc-link">
                            <span class="pc-micon"><i class="ph ph-palette"></i></span>
                            <span class="pc-mtext">Product Detail</Details></span>
                        </a>
                    </li>
                    <li class="pc-item pc-caption">
                        <label>Customer Analysis</label>
                        <i class="ph ph-suitcase"></i>
                    </li>
                    <li class="pc-item">
                        <a href="../Home/CustomerDashboard" class="pc-link">
                            <span class="pc-micon"><i class="ph ph-text-aa"></i></span>
                            <span class="pc-mtext">Customer Dashboard</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="../Home/CustomerDetail" class="pc-link">
                            <span class="pc-micon"><i class="ph ph-palette"></i></span>
                            <span class="pc-mtext">Customer Detail</Details></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ Sidebar Menu ] end -->
    <!-- [ Header Topbar ] start -->
    <header class="pc-header">
        <div class="m-header">
            <a href="../" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ -->                  
                <h4 class="text-white">S&S Data Analist</h4>
            </a>
        </div>
        <div class="header-wrapper"> <!-- [Mobile Media Block] start -->
            @* <div class="me-auto pc-mob-drp">
                <ul class="list-unstyled">
                    <!-- ======= Menu collapse Icon ===== -->
                    <li class="pc-h-item pc-sidebar-collapse">
                        <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
                            <i class="ph ph-list"></i>
                        </a>
                    </li>
                    <li class="pc-h-item pc-sidebar-popup">
                        <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
                            <i class="ph ph-list"></i>
                        </a>
                    </li>
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none m-0" data-bs-toggle="dropdown" href="#"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="ph ph-magnifying-glass"></i>
                        </a>
                        <div class="dropdown-menu pc-h-dropdown drp-search">
                            <form class="px-3">
                                <div class="form-group mb-0 d-flex align-items-center">
                                    <input type="search" class="form-control border-0 shadow-none"
                                        placeholder="Search here. . .">
                                    <button class="btn btn-light-secondary btn-search">Search</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div> *@
            <!-- [Mobile Media Block end] -->
            @* <div class="ms-auto">
                <ul class="list-unstyled">
                    <li class="dropdown pc-h-item header-user-profile">
                        <a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#"
                            role="button" aria-haspopup="false" data-bs-auto-close="outside" aria-expanded="false">
                            <img src="../assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
                        </a>
                        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
                            <div class="dropdown-body">
                                <div class="profile-notification-scroll position-relative"
                                    style="max-height: calc(100vh - 225px)">
                                    <ul class="list-group list-group-flush w-100">
                                        <li class="list-group-item">
                                            <a href="https://codedthemes.com/item/gradient-able-admin-template/"
                                                class="dropdown-item">
                                                <span class="d-flex align-items-center">
                                                    <i class="ph ph-arrow-circle-down"></i>
                                                    <span>Download</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="dropdown-item">
                                                <span class="d-flex align-items-center">
                                                    <i class="ph ph-user-circle"></i>
                                                    <span>Edit profile</span>
                                                </span>
                                            </a>
                                            <a href="#" class="dropdown-item">
                                                <span class="d-flex align-items-center">
                                                    <i class="ph ph-bell"></i>
                                                    <span>Notifications</span>
                                                </span>
                                            </a>
                                            <a href="#" class="dropdown-item">
                                                <span class="d-flex align-items-center">
                                                    <i class="ph ph-gear-six"></i>
                                                    <span>Settings</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#" class="dropdown-item">
                                                <span class="d-flex align-items-center">
                                                    <i class="ph ph-plus-circle"></i>
                                                    <span>Add account</span>
                                                </span>
                                            </a>
                                            <a href="#" class="dropdown-item">
                                                <span class="d-flex align-items-center">
                                                    <i class="ph ph-power"></i>
                                                    <span>Logout</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div> *@
        </div>
    </header>
    <!-- [ Header ] end -->



    <!-- [ Main Content ] start -->

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- [ Main Content ] end -->
    <footer class="pc-footer">
        <div class="footer-wrapper container-fluid">
            <div class="row">
                <div class="col-sm-6 my-1">
                    <p class="m-0">Desing & Develop by Sohail Ahmed & Sajjad Ali</a></p>
                </div>             
            </div>
        </div>
    </footer>
    <!-- [Page Specific JS] start -->
    <script src="@Url.Content("~/GradientTemplate/assets/js/plugins/apexcharts.min.js")"></script>
    <script src="@Url.Content("~/GradientTemplate/assets/js/plugins/jsvectormap.min.js")"></script>
    <script src="@Url.Content("~/GradientTemplate/assets/js/plugins/world.js")"></script>
    <script src="@Url.Content("~/GradientTemplate/assets/js/plugins/world-merc.js")"></script>
    <script src="@Url.Content("~/GradientTemplate/assets/js/pages/dashboard-sales.js")"></script>
    <!-- [Page Specific JS] end -->
    <!-- Required Js -->
    <script src="@Url.Content("~/GradientTemplateassets/js/plugins/popper.min.js")"></script>
    <script src="@Url.Content("~/GradientTemplate/assets/js/plugins/simplebar.min.js")"></script>
    <script src="@Url.Content("~/GradientTemplate/assets/js/plugins/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/GradientTemplate/assets/js/fonts/custom-font.js")"></script>
    <script src="@Url.Content("~/GradientTemplate/assets/js/pcoded.js")"></script>
    <script src="@Url.Content("~/GradientTemplate/assets/js/plugins/feather.min.js")"></script>





    <script>layout_change('light');</script>
    <script>layout_sidebar_change('light');</script>
    <script>change_box_container('false');</script>
    <script>layout_caption_change('true');</script>
    <script>layout_rtl_change('false');</script>
    <script>preset_change("preset-1");</script>
    <script>header_change("header-1");</script>

</body>
<!-- [Body] end -->

</html>
