@{
  ViewData["Title"] = "Product Detail";
  var result = ViewBag.ProductCategoryDetail;
}
<div class="pc-container">
  <div class="pc-content">
    <!-- [ Main Content ] start -->
    @* Date Range *@
   <div class="col-md-6 col-xl-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <form asp-action="ProductDetail" method="get" class="d-flex align-items-center">
                        <button type="submit" name="dateRange" value="Current Year" class="btn btn-primary me-2">Current Year</button>
                        <button type="submit" name="dateRange" value="6 Months" class="btn btn-primary me-2">6 Months</button>
                        <button type="submit" name="dateRange" value="Current Month" class="btn btn-primary me-2">Current Month</button>
                        <button type="submit" name="dateRange" value="Date" class="btn btn-primary me-3">Date</button>

                        <div class="d-flex align-items-center">
                            <label for="d_week1" class="form-label me-2">Start Date:</label>
                            <input type="date" class="form-control datepicker-input in-edit me-2" id="d_week1" name="startDate">
                            <label for="d_week2" class="form-label me-2">End Date:</label>
                            <input type="date" class="form-control datepicker-input in-edit" id="d_week2" name="endDate">
                        </div>
                    </form>
                </div>
            </div>
  </div>

    @* Current Month Product Category Sales Details *@
    <div class="col-sm-12">
      <div class="card table-card">
        <div class="card-header">
          <h5>Current Month Product Category Sales Details</h5>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Product Category</th>
                <th>Total Sale</th>
                <th>Maximum Sale</th>
                <th>Minimum Sale</th>
                <th>Average Sale</th>
              </tr>
              @foreach (var data in result.ProductCategorySale)
              {
                <tr>
                  <td>@data.ProductCategory</td>
                  <td>@data.totalSale</td>
                  <td style="font-size:large;"><span class="badge bg-success">@data.maxSale</span></td>
                  <td style="font-size:large;"><span class="badge bg-danger">@data.minSale</span></td>
                  <td style="font-size:large;"><span class="badge bg-warning">@data.avgSale</span></td>
                </tr>
              }
            </table>
          </div>
        </div>
      </div>
    </div>

    @* Current Month Product Sales Details *@
    <div class="col-sm-12">
      <div class="card table-card">
        <div class="card-header">
          <h5>Current Month Product Sales Details</h5>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Product</th>
                <th>Total Sale</th>
                <th>Maximum Sale</th>
                <th>Minimum Sale</th>
                <th>Average Sale</th>
              </tr>
              @foreach (var data in result.ProductSale)
              {
                <tr>
                  <td>@data.ProductCategory</td>
                  <td>@data.totalSale</td>
                  <td style="font-size:large;"><span class="badge bg-success">@data.maxSale</span></td>
                  <td style="font-size:large;"><span class="badge bg-danger">@data.minSale</span></td>
                  <td style="font-size:large;"><span class="badge bg-warning">@data.avgSale</span></td>
                </tr>
              }
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
