@using AdminDashboard.Models.ViewModel
@{
  ViewData["Title"] = "Sales Detail";
   var customersDict = ViewData["Customers"] as Dictionary<string, (string title, List<CustomerBase> data)>;
}

<div class="pc-container">
  <div class="pc-content">
    <!-- [ Main Content ] start -->
    @* Date Range *@
    <div class="col-md-6 col-xl-12">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <button type="button" class="btn btn-primary me-2">Current Year</button>
            <button type="button" class="btn btn-primary me-2">6 Months</button>
            <button type="button" class="btn btn-primary me-2">Current Month</button>
            <button type="button" class="btn btn-primary me-3">Date</button>
          </div>
          <div class="d-flex align-items-center">
            <label for="d_week1" class="form-label me-2">Start Date:</label>
            <input type="date" class="form-control datepicker-input in-edit me-2" id="d_week1">
            <label for="d_week2" class="form-label me-2">End Date:</label>
            <input type="date" class="form-control datepicker-input in-edit" id="d_week2">
          </div>
        </div>
      </div>

    <!--Tables -->
    </div>
     <div class="row">
      <h3>Sales Detail</h3>

      @if (customersDict != null)
      {
        @foreach (var entry in customersDict)
        {
          var (title, customers) = entry.Value;

          <div class="col-sm-12">
            <div class="card table-card">
              <div class="card-header">
                <h5>@title</h5>
              </div>
              @if (customers != null && customers.Any())
              {
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          @if (customers.First() is CustomerPurchase)
                          {
                            <th>No</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Sales</th>
                            <th>Product</th>
                          }
                        </tr>
                      </thead>
                      <tbody>
                        @for (var i = 0; i < customers.Count; i++)
                        {
                          var customer = customers[i];
                          <tr>
                            <td>@(i + 1)</td>
                            @if (customer is CustomerPurchase purchase)
                            {
                              <td>@purchase.FirstName</td>
                              <td>@purchase.LastName</td>
                              <td style="font-size:large;"><span class="badge bg-success">$@purchase.price</span></td>
                              <td style="font-size:large;"><span class="badge bg-danger">@purchase.ProductName</span></td>
                            }
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              }
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
